<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325607108232-qq4qnv9g7f3umqdgslj64t5oh2j5kk6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325607108232-qq4qnv9g7f3umqdgslj64t5oh2j5kk6c</string>
	<key>API_KEY</key>
	<string>AIzaSyA_9CTr06ydbyHCJ8Pv67M0Y8TRIK6Ptwc</string>
	<key>GCM_SENDER_ID</key>
	<string>325607108232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>geoslide-psm</string>
	<key>STORAGE_BUCKET</key>
	<string>geoslide-psm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325607108232:ios:263a4d56c383e46428f93d</string>
</dict>
</plist>